.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }
	
	&:hover .catalogue-title {
	  border-bottom: .2rem solid $default-tint;
	}

    &:last-child {
      border: 0;
    }
  }

  &-pinned {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    @include transition(all .3s ease-out);
	display: table;
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 2rem;
    margin: .5rem 0;
	border-bottom: .2rem solid $default-shade;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}
