pre,
code {
  font-family: $monospaced;
}

code {
  background-color: #eff1f5;
  color: $code-color;
  padding: .25em .5em;
}

pre {
  margin: 0 0 1rem;
  padding: 0.8rem;
  overflow: auto;
  border-radius: 0.25rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  padding: 0;
  font-family: $code-font;
}
